<div class="hw-top">
	<div class="row">
		<div class="col hw-tracker-stuff mt-5 align-baseline">
			<h1 id="hw-title">HW Tracker</h1>
			<h3 id="hw-info">The Homework Tracking App: the only application that provides teachers with templated feedback on student submissions</h3>
		</div>
		<div class="col hw-image">
			<%= image_tag('hw-tracker.png', class:'img-fluid', :style => 'height:705px;width: 730px;') %> 
		</div><<!--image--> 
	</div><!--row--> 
</div><!--hw-top--> 