
<div class="hw-top">
	
		<div class="d-flex flex-row pt-5 hw-top-box">
			<h1 id="hw-title">HW Tracker</h1>
		<!--	<h3 id="hw-info">The Homework Tracking App: the only application that provides teachers with templated feedback on student submissions</h3> --> 
		<%= image_tag('hw-tracker.png', class:'img-fluid', :style => 'height:605px;width: 630px;') %>  
		</div>

		
		<div class="d-flex flex-row">
			
		
		</div>
	 
</div><!--hw-top--> 