
	<div class="teachertusslecasestudy">
		<div class="container">
		<div class="row">
						<div class="col-7 mx-auto px-2 teacher-intro"> 
							<h1 id="app-title">Gamifying Stress Relief For Teachers</h1>
						</div>
					
			
		</div> <!--row-->
	</div><!--container--> 
	<div class="teacher-overlay"></div><!--teacher-overlay-->	 
</div><!--teachercasestudy--> 



		<div class="row">
			<div class="col mx-auto px-2 target-user-rectangle">
				<div class="margins-div">
					 <h1 id="target-user">Target User<br /><br /><br /><br /><br /><br /></h1>
					 <p class=" primary-users-bit">The primary users are university lecturers and professors who are looking for an easy-to-access resources to reduce work-related stress.</p>
					 <h1 id="goal">Goal</h1>
					 <p class="primary-goals">The primary goal of this app was to provide a type of comic relief to the day-to-day demands of work. Research showed that teachers have little ability to change their situation, but what they can do is find ways to laugh and interract with each other in order to highlight the camraderie that often comes with difficult work</p>
					 <h1 id="role">My Role</h1>
					 <p class="my-role">UX/UI Designer & Researcher</p>
				</div><!--margins-div--> 
			</div><!--target-users-rectangle--> 
		</div> <!--row-->

		<div class="row">
			<div class="col mx-auto px-2 skills-image">
				<%= image_tag('skills.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <h1 id="target-user">Summary<br /><br /><br /><br /><br /><br /></h1>
					 <p class=" primary-users-bit"> Teacher Tussles is an app that provides a place for teachers to take out their frustrations and have a collective experience. The app is meant to be easy to use, provocative in nature, and social, so that everyone can share amongst their colleagues and peers; it is meant to serve as a resource for teachers to set aside the stresses of their job and create friendly competitions between friends. </p>
					 <br /> 
					 <p class="primary-goals">The research for this app showed that most teachers suffer from chronic stress in some way, shape, or form. In the vast majority of cases, the stress of the job is cumulative, not cumulative or specific. In reflection of this, the findings of the research showed that we needed to design something that would allow teachers to create a digital avatar for themselves, be able to challenge each other in a flexible way, and be able to share those results amongst friends and peers if they so felt like it. </p>
					 
				</div><!--margins-div--> 
			</div>
			

		</div><!--row--> 

		<div class="row">
			<div class="col mx-auto px-2 line-process">
				<hr id="line">
					<h2 id="process">Process</h2>
				<hr id="line"> 

				<br />
				<br /> 
				<h1 id="target-user">Research</h1>
				<%= image_tag('research-image.png', class: 'mx-auto d-block') %> 
					<div class="margins-div">
					 <p class=" primary-users-bit">Research began by looking at the current scope of the problem of work-related stress for teachers. I had little knowledge of the extent of the problem, so I needed to read about what kind of information had already been uncovered. From there, I also needed to see what kind of apps or technology currently existed that addressed this issue, if at all. What I discovered was that there are a number of self-help apps for almost every industry, but there was very little that was specific to teachers; in fact, most education apps were focused on teachers doing their job better, but nothing that actually addressed the core problem of teacher wellness.  <br /><br />In addition, I also needed to spend considerable time understanding how gamification of behavior has been addressed in apps. Naturally, if i wanted to create such an app, I needed to look into how others have done this, what models or patterns already exist, and how it might be applied to my end goal; which in this case, was increasing wellness of teachers. <br /> <br />When we began the primary research phase, we inverviewed 6 people, ranging in age from 21 to 51 to get a diverse range of perspectives from people who were both new and old to the higher education sector. During the interviews, the emphasis of our discussions focused primarily around workplace stress and what condition and circumstances existed that were mitigating and aggravating factors. We also looked at things like coping behaviors and general responses to stress to get a sense of how they deal with things day to day. <br /><br />As a general summary, we discovered that teachers are constantly caught between rising student expectations and unrealistic management KPIs, which seems to be vague in arbitrary in their meaning. It was also reported that growing class sizes and increased hours of teaching  had made research something of a luxury, which was required for their job but often at the expense of personal responsibilities, such as childcare and time with their spouse. Suffice to say, this was a very agitated community that was looking for an outlet. </p>
					 <br /> 
					 
				</div><!--margins-div--> 
			</div><!--line-process--> 
		</div><!--row--> 

		
		
			
				 
		
		

