
	<div class="teachertusslecasestudy">
		<div class="container">
		<div class="row">
						<div class="col-7 mx-auto px-2 teacher-intro"> 
							<h1 id="app-title">Gamifying Stress Relief For Teachers</h1>
						</div>
					
			
		</div> <!--row-->
	</div><!--container--> 
	<div class="teacher-overlay"></div><!--teacher-overlay-->	 
</div><!--teachercasestudy--> 



		<div class="row">
			<div class="col mx-auto px-2 target-user-rectangle">
				<div class="margins-div">
					 <h1 id="target-user">Target User<br /><br /><br /><br /><br /><br /></h1>
					 <p class=" primary-users-bit">The primary users are university lecturers and professors who are looking for an easy-to-access resources to reduce work-related stress.</p>
					 <h1 id="goal">Goal</h1>
					 <p class="primary-goals">The primary goals was to develop a logical shopping experience that provides maximum information for the user with minimal effort. It also places special emphasis on creating a checkout process that breaks down each step and makes it clear to the user about what is happening before they make a final decision.</p>
					 <h1 id="role">My Role</h1>
					 <p class="my-role">UX/UI Designer & Researcher</p>
				</div><!--margins-div--> 
			</div><!--target-users-rectangle--> 
		</div> <!--row-->

		<div class="row">
			<div class="col mx-auto px-2 skills-image">
				<%= image_tag('skills.png', class: 'img-fluid') %> 
			</div>
			

		</div><!--row--> 
		
		
			
				 
		
		

