
	<div class="about-top">

	<div class="col col-6 col-sm-6 col-md-6 col-lg-6  how-i-got-here">
				<h1 class="text-left" id="new-font">How I Got Here</h1>
				<br />
					<p class="text-left" id="specialty-font">I love web design. I've done programming projects, but no matter what I was building, always found my thoughts coming back to how a user navigates the page and how a page makes them feel.
					I'm a self-taught web designer who is constantly looking to improve my capabilities and talents. Finding out new ways to maximize my skill set and stretch my talents is now where I put my energy.<br /> </p>
					<p class="text-left" id="specialty-font">
					Teaching is my day job -- I teach Interrraction Design -- but I'm always willing to take on new projects, both big and small.
					Find me on GitHub, LinkedIn or even shoot me an email at: youngerik26 @ gmail.com.</p>
				
	</div> 


			

	

	


