
	<div class="container-fluid about-top pb-5 pt-5" >
	<div class="row">
		<h1 class="text-left" style="color: white;margin-left: 35px; ">How I Got Here</h1>
	</div>
	<div class="row" style="display:flex; flex-direction:row;font-family: 'EB Garamond', serif;">
				<div class="col text-left">
					<p id="specialty-font">I have excelled at anything that has ever truly mattered to me. </p>
<p id="specialty-font">
I'm a people-first, educator turned designer. Being a teacher is about being organized; it requires both an ability to manage many kinds of people as well as the ability to break things down into simple, digestable pieces of information for others. This is true regardless of the subject. </p>


<p id="specialty-font">My goal as a UX designer is to build the absolute best product experience that anyone could have by truly understanding what users' needs are first. The first question I always ask my clients is not what to build, but what should we build. </p>

<p id="specialty-font">As a designer and a front-end developer, I have an ability to solve problems quickly and completely, with capability to multi-task and stay organized in a dynamic work environment. Equipped with certifications and training that covers the entire UX process and on into the development of the user interface, I am well-prepared to align my skill set with any position that requires a proactive individual who strives to exceed expectations on every assignment. </p>


<p id="specialty-font">Connect with me today to find out how I will make your mission my mission, to help bring all of your technical objectives into focus! Please feel free to contact me at erik.young@rmit.edu.vn or find me on my website at erikyoungwebdesigner.ml with any thoughts or questions about my work - I am always interested in making new professional acquaintances.</p>
</div>

	<div class="col">
		<%= image_tag('new-erik-image.png', class:'mx-auto d-block', id:'erik-ngoc') %> 
	</div>


	</div><!--row--> 




				
</div> <!--container--> 


			

	

	


