<div class="container-fluid">
	<div class="row">
			<div class="about-pic-stuff col-6 mx-auto text-center">
				<img src="/assets/me.jpg" class="img-thumbnail mx-auto" id="dude">

				<h1 class="about-erik">A Little Summary</h1>
					<p id="erik-info">Erik loves technology and the real world application of it. He has done a lot of work with teaching and the study of the Vietnamese language. But no matter what he did, he found himself yearning for more and decided to enter the world of programming. He's been focusing his energy on Ruby on Rails applications and eventually embedding them into Virtual Reality (VR) environments ever since. 

					He is now a teacher at RMIT University Vietnam and focuses mainly on communications-related courses.

					Find him on GitHub, LinkedIn or send him an email: youngerik26 @ gmail.com.</p>
			</div><!-- col-xs-6 -->
		
	</div><!-- row -->
</div><!-- container -->