
	<div class="about-top pb-5">

				<h1 class="text-left pt-3 " id="new-font">How I Got Here</h1>
				<br /><br />


	
				<div class="col text-left">
					<p id="specialty-font">I just couldn’t do it anymore.<br /><br />
Every teacher reaches an expiration date; it’s only a question of when. Mine
occurred on a typical Tuesday in June 2016. After another day of having my
emotional reserves completely siphoned off by what felt like a collective group of 30
ungrateful, unappreciative college students, I just decided I wasn’t going to do it
anymore.<br /><br />
I opened my laptop and made a decision to take back my life.
I started learning to code; slowly at first, but faster and faster as the days went on.<br /><br />
After 6 months of self-study, I did an online bootcamp that taught me the
fundamentals of HTML, CSS, JavaScript, and Ruby on Rails. At the time, I really
enjoyed the high of building something with my own hands while blazing a
divergent path towards a new direction. <br /><br /> 
As much fun as this was, I quickly learned two things: the learning curve for
computer science drops off a table very quickly; and frankly speaking, most
software engineers aren’t really that interesting to be around. Working with
Booleans and hoisting and worrying about the scope of functions is all well and
good, but so are good colleagues that love to interact and connect with people.
I knew I was in the wrong place. Deep down, I just knew. <br /><br />
So while all my friends were talking about the great things they were building out
, I couldn’t help myself but peek at their
interfaces and wonder how they could be improved.<br /><br />
So from there, I set out to find a way to connect my need to connect with people
with a love for technology. Needless to say, it didn’t take long before I crossed paths
with UX Design. <br /><br />

Teaching is my day job -- I teach Interrraction Design -- but I'm always willing to take on new projects, both big and small.Find me on GitHub, LinkedIn or even shoot me an email at: youngerik26 @ gmail.com.</p>

<%= image_tag('new-erik-image.png', class:'mx-auto d-block', id:'erik-ngoc') %> 
</div>
				
</div> 


			

	

	


