<div class="container">
	<div class="row">
			<div class="col col-12 col-sm-12 col-md-12 col-lg-6 mt-5 mb-3">
				<%= image_tag("me.jpg", class:"img-thumbnail") %>	
			</div> 
			<div class="d-flex flex-column col-6 mt-5 mb-5 text-center">
				<h1>A Little Summary</h1>
				
					<p>I love web design. I've done programming projects, but no matter what I was building, always found my thoughts coming back to how a user navigates the page and how a page makes them feel.
					I'm a self-taught web designer who is constantly looking to improve my capabilities and talents. Finding out new ways to maximize my skill set and stretch my talents is now where I put my energy.<br /> 
					Teaching is my day job -- I teach Interrraction Design -- but I'm always willing to take on new projects, both big and small.
					Find me on GitHub, LinkedIn or even shoot me an email at: youngerik26 @ gmail.com.
				
			</div> 
	</div><!-- row -->

	<div class="row">
	
		<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1 class="design mb-3 text-center">Design and Development Process</h1>
			<%= image_tag('MyDesignDevelopmentProcess.png', class: 'img-thumbnail') %> 
		</div>
	</div><!--row--> 
</div>

