
<div class="container">
	<div class="row">
		<h1 class="simple-title-for-app col-xs-12 col-sm-12 col-lg-12">Portfolios</h1>	
<% @works.each do |work| %> 
		<div class="box-for-app col-xs-6 col-sm-6">
			<h1 id="name-of-app"><%= work.name %></h1>
			<p><%= work.description %> </p>
		</div><!-- col-xs-6 col-sm-6 --> 
<hr />
<% end %> 
	</div> <!-- row -->
</div> <!-- container -->




