
  <div class="container bg-light mt-4">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="card mb-4">
          <div class="card-header text-center">
            <%= image_tag("erik.jpg", class: 'w-100', alt: 'picture of myself') %> 
          </div> 
          <div class="card-body">
              <p class="card-text lead">A tech-savvy who is passionate about web development (front-end and back-end), with a thirst for digital knowledge, and a significant interest in emerging technologies. I have an ability to solve problems quickly and completely, with capability to multi-task and stay organized in a dynamic work environment. Equipped with certifications in full stack web developer and JavaScript programming, I am well-prepared to align my skill set with any position that requires a proactive individual who strives to exceed expectations on every assignment.</p>
              <p class="card-text">I am skilled in advanced web development methodologies, tools, and processes contributing to the design and rollout of cutting-edge web development solutions. In addition to my project experience, I possess outstanding time-management skills and work well in team-driven environments. You will find me to be a highly productive individual, quick to grasp essential procedures and protocols, and possessing the stamina to do whatever it takes to complete the task set before me.</p>
              <blockquote class="blockquote text-center w-75 mx-auto">
                <p class="mb-0">“Try to learn to let what is unfair teach you.” 
                ― David Foster Wallace, Infinite Jest</p>
                <footer class="blockquote-footer">Erik Young</footer>
              </blockquote>
              <p class="card-text">A few of my credentials include:
              	JavaScript Programming Certificate
              	Full Stack Web Developer Certificate
              	TESOL Teaching Certificate
              	Certificate of Advanced Vietnamese Proficiency
              	Tertiary Graduate Teaching Certificate (Norwich Univ.) </p>
              
              <p class="card-text">Connect with me today to find out how I will make your mission my mission, to help bring all of your technical objectives into focus! Please feel free to contact me at erik.young@rmit.edu.vn with any thoughts or questions about my work - I am always interested in making new professional acquaintances.
              
              </p>
          </div> 
        </div> 
      </div> 
      <div class="col-12 col-lg-4">
      </div> 
    </div> 
  </div> 

