<div class="booyah-box col-10 offset-1">
	
		<h3 id="resume" style="font-size:25px;">UX Designer</h3>
		<hr id = "hr-thing" align="left"  />
		<h1 id="resume-name" style="font-size:50px;">Erik Young</h1>
	
</div>