Hi,

<p>Someone has sent a message through the contact form.</p>

<p>Name: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>
<p>Address: <%= @message.address %></p>
<p>Message: <%= @message.message %></p>
