

@import "bootstrap";
@import "font-awesome";

body {
	
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
   
}

.teachertusslecasestudy {

	
    min-height: 1300px;
    background-image: url("correct-teacher.png");
    background-size: cover;
    background-position: bottom;
  
    background-repeat: no-repeat;
    text-align: center;
    z-index: -10;
    
}

.mirror-top {
	min-height: 1300px;
    background-image: url("mirror-hero.jpg");
    background-size: cover;
    background-position: bottom;
  
    background-repeat: no-repeat;
    text-align: center;
    z-index: -10;
}



.closingstudy {
	
	min-height: 1000px; 
    background-image: url("closing-image.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
   	z-index: -10; 
}

.teacher-intro {
	color: black;
	background: white;
	border-radius: 10px; 
	margin-top: 100px ;
	padding: 25px;
	display:inline-block;
	vertical-align: middle; 
	border-radius: 16px;
	height: 300px; 
	z-index:1;
	position: relative;
    top: 350px;
	
}

.target-user-rectangle {
	background-color: #ec5468;
	background-size: cover; 
    height: 811px;
    

}

#app-title-mirror {
	font-family:  Helvetica, Arial, serif;
	font-weight: bold; 
    font-size: 64.0px;
    color: black;
    text-align: center;
    line-height: 77.0px;
    padding: 25px;
    padding-bottom: 20px; 
}

.target-user-mirror {
	background-color: #F1F5F8; 
	background-size: cover; 
    height: 811px;
}

.margins-div {
	margin-left: 250px;
    margin-right: 250px; 
}

#line {
  background-color: black;
   border: 1px solid black;
   width: 205px;
}

#process {
font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2475px;
  text-align: center;
  color: #4a4a4a;

}

#goal {
	
  height: 57px;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: center;
  color: #000000;
  padding-top: 15px; 
  margin-bottom: 30px; 

 }

.primary-goals {

 font-family: Helvetica;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  color: #000000;

 }

#target-user {
  height: 145px;
  padding-top: 50px; 
  font-family: Helvetica;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: center;
  color: #000000;
}

#role {
  height: 57px;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: center;
  color: #000000;
  padding-top: 15px; 
  margin-bottom: 30px; 
}

.my-role {
font-family: Helvetica;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  color: #000000;
  text-align: center; 

}

.primary-users-bit {
  
  
  font-family: Helvetica;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  color: #000000;

}



.teacher-overlay {
	width: 100%;
	height: 1300px; 
	background-color: rgba(236, 84, 103, 1.0);
	opacity: 0.3; 
	position: absolute; 
	top: 0;
	bottom: 0;
	z-index: -5; 
}

#app-title {
	font-family: "PiratesWriters", Helvetica, Arial, serif;
    font-size: 64.0px;
    color: black;
    text-align: center;
    line-height: 77.0px;
    padding: 25px;
    padding-bottom: 20px; 

}



	


#typed-cursor {
	font-weight: 200; 
	opacity: 1;
    animation: blink 1.2s infinite; 
	
}

 

@keyframes blink {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 1;
	}

	100% {
		opacity: 0; 
	}

}

.form-text {
	position: relative;
    bottom: 15px;
}

.new_work {
	margin: 0px; 
}

.form-group {
	margin: 0px;
	
}

.default_class {
	margin: 0px; 
}

.my_class {
	margin-bottom: 0px; 
	
}

.work_name {
	margin: 0; 
	
}

.labels {
	font-size: 25px; 
}

#work_name, #work_address, #work_email, #work_message {
	border: 2px solid black; 
	padding: 10px; 
}

.psychology-list {
	list-style-type: none; 
}



#resume-page {
	background-color: white; 
}


.box-for-app {
	margin-top: 20px;
	line-height: 1;
	display: inline-block;
}

.simple-title-for-app {
	color: black;
	display: block;
	text-align: center;
	margin-bottom: 30px;

}

.navbar {
	box-shadow: 0px 1px 3px #2a2a2a;

}

.navbar-custom {
	background-color: #00537b;
}




.white-hr {
	color: black;
	font-weight: solid black;
}

.embedded-content {
	color:black;
	background-color: #bad0f2;
	opacity: 0.5;
	width: 320px;
	padding: 25px;
	margin: 25px;
	font-size: 40px;
	position: fixed; /* or absolute */
	top: 20%;
	left: 30%;
	margin-right: 150px;
	font-family: 'Schoolbell', cursive;
  	   
}



.content-box {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	padding: 25px;
	margin: 25px;

}






.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
 
}

.footer {
	box-shadow: 0px 1px 3px #2a2a2a;
	clear:both;
}






#hr-thing {
	border: 1px solid black;
	width: 15%;
	
}

.sizing {
	display: flex;
	flex-direction: row; 
}



.img-fluid {
	cursor:pointer; 
}

.img-thumbnail {
	cursor:pointer; 
}



.img-fluid:hover {
	cursor:pointer; 
	
}

.img-thumbnail:hover {
	cursor:pointer; 
}

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #00874F;
  }
  
  .hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 50px 20px;
  }
  
  .hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
	opacity: 0.4;
	filter: alpha(opacity=40);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	overflow: hidden;
	padding: 0.5em 0;
	background-color: transparent;
  }
  
  .hovereffect h2:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  }







.erik-button {
	align-items: center; 
	text-align: center; 
}



.carousel-inner > .carousel-item > img {
    padding: 20px 20px;
    height: 350px;
    width: 50%;
	margin: auto;
	margin-top: 30px; 
}

#nav-pic {
	width: 45px;
	height: 40px; 
	margin-right: 20px; 
}








#button {
    display: inline-block;
	margin-top: 5%;
	margin-bottom: 5%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 red, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 red, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 red, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}



.style_image {
	height: 18px;
	width: 18px; 
}

.card {
	min-width: 400px !important;
	-webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)!important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)!important;
    -webkit-transition: all .15s ease!important;
    transition: all .15s ease!important;
	
}

.card:hover {
	-moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
}

























 


