

@import "bootstrap";
@import "font-awesome";



html {
width: 100%;
    margin: 0px;
    padding: 0px;
  
  height: 100%;
}

body {
width: 100%;
    margin: 0px;
    padding: 0px;
  
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;

}

#footer {
  position: relative;
  font-family: 'EB Garamond', serif;
  width: 100%;
  min-height: 100px;
  background-color:#0275d8;
  color: white;
  
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}

#footer a {
  color: white;
  font-weight: 100;
}

.social-button {
  margin: 4px;
  z-index: 1;
}

.social a:hover {
  text-decoration: none;
}




@import "bootstrap";
@import "font-awesome";




.intro-message {
  color: #f8f8f8;
  background: white;
  opacity: 0.9;
  border-radius: 10px; 
  margin: 15px ;
  margin-top: 100px; 
  padding: 25px;
  display:inline-block;
  vertical-align: middle; 
}





.image-div {
  display:flex; 
}

#img1 {
  flex: 1.50;
}

#img2 {
  flex:1.50;
}




.main-carousel {
  
  width: 100%;
  min-height: 100%;
  // background: linear-gradient(#005ba9, transparent 90%),
  // linear-gradient(0deg, #fff,transparent),
   // url("me.jpg");
    background-image: url("picture.png");
  //background-image: -webkit-linear-gradient(270deg, #005ba9, #005ba9);
    //background-image: linear-gradient(180deg, #005ba9, #005ba9);
  background-size: cover;
  
  background-position: 50% 50%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
  
  background-repeat: no-repeat;
  position:fixed;
  top: 0;
  text-align: center;
  
}

.intro-message {
  
}

.intro-message > h1 {
  margin:0;

  text-shadow: 2px 2px 3px rgba(0,0,0,.6);
  font-size: 5em;
}



h3 {
  font-size: 24px;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;

}

.list-inline > li {
  display: inline-block;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.featured-artwork-box {
  margin-top: 700px;
  background-color: #fff;
  
}

.header {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 17px;
  
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; 
}



.featured-art {
  padding: 0 8px;
  margin-bottom: 200px;
  display: inline-block;
  height: 325px;
}









.featured-artwork-top {
  margin-bottom: 20px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.artist-name {
  color: #fff;
  font-weight: heavier;
  margin: 0 auto;
  height: 100%;
  width: 100%;

}

.artist-info {
  
  padding: 10px 10px 10px 10px;
  
  cursor:pointer;
  padding-right: 10px;

  
}





.artwork-name {
  font-size: 40px;
  font-weight: 200;
  color: #fff;
  font-weight: 200;
}

.artwork-name-new {
  font-size: 25px;
  font-weight: 200;
  color: #fff;
  font-weight: 200;
}


.port-desc {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  }

  .port-desc-new {
    font-size: 17px;
    font-weight: 200;
    color: #fff;
  }

.artwork-medium {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  display: block;

}

.artwork-year {
  color:#fff;
}




















body {
	font-family: 'EB Garamond', serif;
	color: #636363;
    font-size: 16px;
    
}

#ux {
	font-family: 'EB Garamond', serif;
	color: black; 
}

#erik-font {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black; 
}

.navbar {
	font-family: 'EB Garamond', serif;
}

h1, h2 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.card-body {
	font-family: 'EB Garamond', serif;
}

body p {
	font-size: 16px; 
	
	color: #636363;
    line-height: 1.4;

}

p {
	font-style: normal; 
	color: #636363;
	
	font-weight: 400;
	
	margin-bottom: 1rem; 
	text-rendering: optimizeLegibility; 
}


.teachertusslecasestudy {

	
    min-height: 700px;
    background-image: url("Optimized-teaching.png");
    
    background-size: cover;
    background-position: center;
  	position: relative; 
    background-repeat: no-repeat;
    text-align: center;
    z-index: -10;
    
}

.about-top {
	min-height: 800px;
	width: 100vw; 
    background-color: #1460A6; 
    background-size: cover;
    background-position: bottom;
    position: relative;
    top:0px;
    left:0px; 
  	background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: -10;
}



.mirror-top {
	min-height: 700px;
	width: 100%; 
   // background-image: url("mirror-hero.png");
   	background-image: url('new-mirror-image.jpg'); 
    background-size: cover;
    background-position: center; 
  	background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative; 
    top: 0;
    left: 0; 
    z-index: -10;

    overflow: hidden; 
}

.hw-top {
  min-height: 700px;
  width: 100%; 
   
    background-image: url('Optimized-hw-tracker.jpg'); 
    background-size: cover;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative; 
    top: 0;
    left: 0; 
    z-index: -10;

    overflow: hidden; 
}

.spotify-control {
	padding-top: 100px; 
}



#app-title-mirror {
	
	font-weight: bold; 
	text-shadow: 1px 1px #000000;
    font-size: 64.0px;
    color: white; 
    position: absolute;
    top: 300px; 
    padding-bottom: 10px; 
    text-align: center;
    
}

.primary-users-bit, .primary-goals {
	color: black; 
  max-width: 800px;
  margin: 0 auto;
}

.spotify-top {
	min-height: 800px;
	width: 100vw; 
    background-image: url("rvsd-spotify-top.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:0px;
    left:0px; 
  	
    background-repeat: no-repeat;
    text-align: center;
    z-index: -10;
}







.hw-top-box {
	
    z-index: 3;
}

.closingstudy-mirror {
	
	min-height: 1000px; 
    background-image: url("mirror-ending.png");
    background-size: cover;
    margin: 0;
    padding:0; 
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    position: relative; 
   	z-index: -10; 
}



#hw-title {
	
  
  
	font-size: 72px; 
	font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.117647px;
    text-align: left;
    color: #ffffff;
    
}

#hw-image {
	  height:600px;
	  width: 550px;
	  border-radius: 35%;
}

#hw-info {

  
  font-size: 36px;
  width: 500px;
	font-size: 36px; 
	font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.117647px;
  text-align: left;
  color: #ffffff;
  
  
}

.hw-content {
	padding-top: 65px; 

}





.closingstudy {
	
	min-height: 1000px; 
    background-image: url("closing-image.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    position: relative; 
   	z-index: -10; 
}









.teacher-intro-spotify {
	
	opacity: 0.7;
	background: #000000;
	border-radius: 10px; 
	margin-top: 100px ;
	padding: 25px;
	height: 300px; 
	display:inline-block; 
	vertical-align: middle; 
	z-index:1; 
}

.target-user-rectangle {
	background-color: #F1F5F8; 
	background-size: cover; 
}







.target-user-mirror {
	background-color: #F1F5F8; 
	width: 100%;
    
}

.target-user-spotify {
	background-color: #F1F5F8; 
	width: 100%;
    height: 750px;
}

.target-user-hw {
	background-color: #F1F5F8; 
	width: 100%;
    height: 911px;
    min-height: 1500px; 
    background-image: url("pleasework.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    

}

.process-hw {
	color: white; 
}

.image-frames {
	    margin-top: 110px;
}

.initial-wireframe {
	background-color: #333656; 
	height: 1800px; 
}

.purple-thing {
	background-image: url("hw-stripey.png");
	height: 700px; 
	width: 99vw; 
	background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute; 
    top: 350px; 
    z-index: -100; 

}




.margins-div {
	margin-left: 250px;
    margin-right: 250px; 
}

#line {
  background-color: black;
   border: 1px solid black;
   width: 205px;
}

#process {

  font-size: 36px;
  
  margin-bottom: 25px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2475px;
  text-align: center;
  color: #4a4a4a;

}




#goal {
	
  height: 57px;
  
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: center;
  color: #000000;
  padding-top: 15px; 
  margin-bottom: 30px; 

 }



#target-user {
  
  padding-top: 50px; 
 
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: center;
  color: #000000;
}

#role {
  height: 57px;
 
  font-size: 48px;
  margin-bottom: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: center;
  color: #000000;
  padding-top: 15px; 
  
}



.my-role {

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  color: #000000;
  text-align: center; 

}






.teacheroverlay-bottom-teacher {
	width: 100%;
	height: 1000px; 
	background-color: #ec5468;
	opacity: 0.30; 
	position: absolute; 
	top: 0;
	bottom: 0;
	z-index: -5; 
}



#app-title {
	
    font-size: 64.0px;
    position: relative;
    top: 300px; 
    color: white;
    text-align: center;
    line-height: 77.0px;
    

}



#app-title-spotify {
	color: white; 
	padding-top: 50px; 
	 text-shadow: 1px 1px #000000;
}

#app-title-spotify-overlap {
	color: #7CD4C1;
	position:absolute; 
	bottom: 120px;
    right: 0.5px; 
}

.text-control {
	margin-top: 50px;
	
}



	


#typed-cursor {
	font-weight: 200; 
	opacity: 1;
    animation: blink 1.2s infinite; 
	
}

 

@keyframes blink {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 1;
	}

	100% {
		opacity: 0; 
	}

}

.form-text {
	position: relative;
    
}

.new_work {
	margin: 0px; 
}

.form-group {
	margin: 0px;
	
}

.default_class {
	margin: 0px; 
}

.my_class {
	margin-bottom: 0px; 
	
}

.work_name {
	margin: 0; 
	
}

.labels {
	font-size: 25px; 
}

#work_name, #work_address, #work_email, #work_message {
	border: 2px solid black; 
	padding: 10px; 
}

.psychology-list {
	list-style-type: none; 
}








#resume-page {
	background-color: white; 
}


.box-for-app {
	margin-top: 20px;
	line-height: 1;
	display: inline-block;
}

.simple-title-for-app {
	color: black;
	display: block;
	text-align: center;
	margin-bottom: 30px;

}

.navbar {
	background: rgba(19, 94, 172, 1);

}






.white-hr {
	color: black;
	font-weight: solid black;
}

.embedded-content {
	color:black;
	background-color: #bad0f2;
	opacity: 0.5;
	width: 320px;
	padding: 25px;
	margin: 25px;
	font-size: 40px;
	position: fixed; /* or absolute */
	top: 20%;
	left: 30%;
	margin-right: 150px;
	
  	   
}



.content-box {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	padding: 25px;
	margin: 25px;

}






.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
}



.footer {
	box-shadow: 0px 1px 3px #2a2a2a;
	clear:both;
}






#hr-thing {
	border: 1px solid black;
	width: 15%;
	
}

.sizing {
	display: flex;
	flex-direction: row; 
}



.img-fluid {
	cursor:pointer; 
}

.img-thumbnail {
	cursor:pointer; 
}



.img-fluid:hover {
	cursor:pointer; 
	
}

.img-thumbnail:hover {
	cursor:pointer; 
}








.erik-button {
	align-items: center; 
	text-align: center; 
}



.carousel-inner > .carousel-item > img {
    padding: 20px 20px;
    height: 350px;
    width: 50%;
	margin: auto;
	margin-top: 30px; 
}

#nav-pic {
	width: 45px;
	height: 40px; 
	margin-right: 20px; 
}








#button {
    
	margin-top: 5%;
	margin-bottom: 5%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
   
}



.style_image {
	height: 18px;
	width: 18px; 
}

.card {
	
	-webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)!important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)!important;
    -webkit-transition: all .15s ease!important;
    transition: all .15s ease!important;
    border-radius: 15px; 
	
}

.card:hover {
	-moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
}

.card-custom {
	overflow:hidden;
	
	box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
	
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.how-i-got-here {
	padding-top: 75px;
    color: white; 
    margin-left: 30px; 
}

#new-font {
	
	font-weight: bold; 
	
}

#specialty-font {
	
	padding-left: 20px; 
	padding-right: 20px; 
	color: white; 
}



#new-font {
	padding-left: 30px; 
	color: white; 
}





.mouse-scroll:before {
	content: '';
    position: absolute;
    top: 8px;
    left: 11px;
    width: 4px;
    height: 4px;
    background: #FFF;
    border-radius: 4px;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-animation: scrollanimation 2s infinite alternate;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation: scrollanimation 2s infinite alternate;
    animation: scrollanimation 1s infinite alternate;
    
    

}

@-moz-keyframes scrollanimation {
	0% { height:2px; }
    100% { height: 20px; }
}

@-webkit-keyframes scrollanimation {
    0% { height:2px; }
    100% { height: 20px; }
}
@keyframes scrollanimation {
    0% { height: 2px; }
    100% { height: 20px; }
}





.mouse-scroll {
	display: block;
    position: relative;
    z-index: 2;
	width: 30px;
    height: 50px;
    background: none;
    border-radius: 14px;
    border: 2px rgba(255, 255, 255, 0.5) solid;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -14px;
    
}





























 


